@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.Enrollment;
@model EnrollmentDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Enroll Date</label>
                <input readonly asp-for="EnrollDate" class="form-control" />
                <span asp-validation-for="EnrollDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input hidden asp-for="Discount" class="form-control" />
                @(Model.Discount * 100)%
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input readonly asp-for="MemberName" class ="form-control" />
                <input hidden asp-for="MemberId" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Yoga Class</label>
                <input readonly asp-for="YogaClassName" class ="form-control" />
                <input hidden asp-for="YogaClassId" class="form-control" />
                <input hidden asp-for="CourseId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Enroll" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
