@using YogaManagement.Client.Helper;
@inject JwtManager _jwtManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Hello @_jwtManager.GetEmail() - @_jwtManager.GetUserRole()</h1>
</div>
