@page
@*@model WalletModel*@

@{
    //ViewData["Title"] = "Wallet";
}

@*<h1>Current Money in Wallet: @Model.Money</h1>*@
<h1>Current Money in Wallet: 100</h1>

<form method="post">
    <div>
        <label for="money">Enter Money:</label>
        <input type="text" id="money" name="money" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
